$primary-color: #0077cc;
$secondary-color: #ffcc00;
$tertiary-color: #66cccc;
$success-color: #22bb33;
$warning-color: #ffc107;
$error-color: #ff4444;
$info-color: #2196f3;
$light-color: #f5f5f5;
$dark-color: #212121;
$background-color: #ffffff;
$light-gray:#ccc;
$medium-gray:#555;