button {
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
    color: $medium-gray;
    outline: none;
  }
  
  .footer {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-45%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dialog-title {
    text-align: left;
    font-size: 1.2rem;
  }
  
  .dialog-content {
    width: 100%;
    height: 12rem;
    background-color: $lighter-gray;
    text-align: center;
    line-height: 12rem;
    font-size: 5rem;
    padding-left: 3px;
    letter-spacing: 15px;

  }
  
  .dialog-footer-btn:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 10px $light-gray;
  }
  
  // 标签
  .dialog-info {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: $lightest-gray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;
    padding-left: 20px;
    img {
      height: 100%;
      width: 64px;
    }
    .info-text {
      margin-left: 20px;
      color: $text-gray;
      .text-name {
        color: $text-dark;
        font-size: 1.2rem;
      }
    }
  }
  .dialog-tags {
    min-height: 12rem;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
    align-content: flex-start;
    overflow: hidden;
    grid-gap: 10px;
    .tag {
      border-radius: 10px;
      text-align: center;
      height: 2.5rem;
      color: $text-dark;
      line-height: 2.5rem;
      background-color: $lightest-gray;
      cursor: pointer;
    }
    .tag:hover {
      color: $light-color;
      background-color: $info-color;
    }
    .tag-active {
      color: $light-color;
      background-color: $info-color;
    }
  }
  
  .global-btn {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: $light-color;
    background-color: $info-color;
    margin: 0 15px;
    font-weight: 500;
  }
  .global-btn:hover {
    border: none;
    box-shadow: 0 0 15px $light-gray;
  }
  
  .change-btns {
    text-align: left;
    .btns-wrapper {
      width: 12rem;
      height: 1.8rem;
      background: $lighter-gray;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      border-radius: 20px;
    }
  }
  .change-btn {
    width: 6rem;
    border-radius: 10px;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    border-radius: 20px;
    background: $lighter-gray;
  }
  .change-btn-active {
    color: $light-color;
    background-color: $info-color;
  }
  
  #data-content {
    min-height: 400px;
    // height: 28rem;
    height: 35vw;
    transform: translateY(-5%);
  }
  .personal{
    overflow: hidden;
  }
  @media screen and (min-width: 1445px) {
    #data-content {
      min-height: 400px;
      height: 35rem;
      transform: translateY(-5%);
    }
  }